<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <title>An Approximation of Wordle</title>
        <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/pure-min.css" 
                integrity="sha384-Uu6IeWbM+gzNVXJcM9XV3SohHtmWE+3VGi496jvgX1jyvDTXfdK+rfZc8C1Aehk5" 
                crossorigin="anonymous">
        <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/grids-responsive-min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}" />
    </head>
    <body>

    <div class="content">
        <h1>An Approximation of Wordle</h1>
        <div class="pure-u-1">
            <div class="tile pure-u-1-12" data-state="tbd" d>t</div>
            <div class="tile pure-u-1-12" data-state="absent" d>a</div>
            <div class="tile pure-u-1-12" data-state="absent" d>r</div>
            <div class="tile pure-u-1-12" data-state="absent" d>t</div>
            <div class="tile pure-u-1-12" data-state="correct" d>s</div>
        </div>
        
        <div class="pure-u-1">
            {% if valid == False %}
                <h3 class="error">Not an allowable guess:</h3>
            {% endif %}
            {% for tile in tiles %}
            <div class="tile pure-u-1-12" data-state="{{tile[1]}}" d>{{tile[0]}}</div>
            {% endfor %}
        </div>
        
        
    </div>

    </body>
</html>