<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <title>wordle-flask</title>
        <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/pure-min.css" 
                integrity="sha384-Uu6IeWbM+gzNVXJcM9XV3SohHtmWE+3VGi496jvgX1jyvDTXfdK+rfZc8C1Aehk5" 
                crossorigin="anonymous">
        <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/grids-responsive-min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/wordle.css') }}" />
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </head>
    <body>

    <div class="content">
        <h1>An Approximation of Wordle</h1>
                
        {# Expecting: a list of past turns, plus one new turn (set of tiles) #}
        {# Each turn is a list of tuples: (letter, result class)  #}
        
        {% for turn in turns %}
            <div class="pure-u-1">
                {% for letter, result in turn %}
                <div class="tile pure-u-1-12" data-state="{{result}}" d>{{letter}}</div>
                {% endfor %}
            </div>
        {% endfor %}
        
        <div class="pure-u-1">
        {% with flashed_messages = get_flashed_messages() %}
            {% for flashed_message in flashed_messages %}
                <h3 class="error">{{flashed_message}}</h3>
            {% endfor %}
        {% endwith %}
            {% for letter, result in extra_tiles %}
                <div class="tile pure-u-1-12" data-state="{{result}}">{{letter}}</div>
            {% endfor %}
        </div>
        
        <h3>Guesses remaining: {{guesses_remaining}}</h3>
        
        <form class="pure-form" action="/guess", method='post'>
            <fieldset>
                <input type="text" placeholder="Guess" name="submit-guess" size="10" autofocus/>
                <button type="submit" class="pure-button">Submit</button>
            </fieldset>
        </form>

        
        <h4>Letters used:</h4>
        <div class="pure-u-7-8 pure-u-sm-2-3 pure-u-md-3-8 pure-u-lg-7-24 pure-u-xl-1-4 sm-button-row">
            {% for letter, result in letter_result_map.items() %}
                <span class="sm-button" data-state="{{result}}">{{letter}}</span>
            {% endfor %}
        </div>

        
    </div>

    </body>
</html>