<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <title>wordle-flask</title>
        <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/pure-min.css" 
                integrity="sha384-Uu6IeWbM+gzNVXJcM9XV3SohHtmWE+3VGi496jvgX1jyvDTXfdK+rfZc8C1Aehk5" 
                crossorigin="anonymous">
        <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/grids-responsive-min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/modal.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/wordle.css') }}" />
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </head>
    <body>

    <div class="content">
        <h1>An Approximation of Wordle</h1>
                
        {# Expecting from session: a list of turns so far #}
        {# Each turn is a list of tuples: (<letter>, <result css class>)  #}
        {% for turn in session['turns'] %}
            <div class="pure-u-1">
                {% for letter, result in turn %}
                <div class="tile pure-u-1-12" data-state="{{result}}" d>{{letter}}</div>
                {% endfor %}
            </div>
        {% endfor %}
        
        {# Additional user messages, potentially including some in "turn" format #}
        <div class="pure-u-7-8 pure-u-lg-5-8 pure-u-xl-7-12">
        {% with flashed_messages = get_flashed_messages(category_filter=['user_message']) %}
            {% for flashed_message in flashed_messages %}
                <h3 class="user-message">{{flashed_message}}</h3>
            {% endfor %}
        {% endwith %}
        {% with flashed_tiles = get_flashed_messages(category_filter=['extra_tiles']) %}
            {% for flashed_tile in flashed_tiles %}
                <div class="integral-word">
                {% for letter, result in flashed_tile %}
                    <div class="tile  
                    {% if result == 'hint' %} pure-u-1-12 pure-u-sm-1-24 pure-u-md-1-24
                    {% else %} pure-u-1-12 {% endif %}"
                        data-state="{{result}}">{{letter}}</div>
                {% endfor %}
                </div>
            {% endfor %}
        {% endwith %}
        </div>
        
        {% if session['gamestate'] == 'in-progress' %}
            <h3>Guesses remaining: {{session['guesses_remaining']}}</h3>
        {% elif session['gamestate'] == 'success' %}
            <h3>The game is complete. Congratulations!</h3>
        {% elif session['gamestate'] == 'failure' %}
            <h3>The game is complete. Please try again!</h3>
        {% endif %}
        
        <form class="pure-form" action="/guess", method='post'>
            <fieldset>
                <input type="text" 
                    {% if session['gamestate'] == 'in-progress' %}
                    placeholder="Guess"
                    {% else %}
                    placeholder="Command"
                    {% endif %}
                    name="submit-guess" size="10" autofocus/>
                <button type="submit" class="pure-button">Submit</button>
         		<a href="#help" class="sm-button" title="Game Commands">?</a>
            </fieldset>
        </form>
       
        <h4>Letters used:</h4>
        <div class="pure-u-7-8 pure-u-sm-2-3 pure-u-md-3-8 pure-u-lg-7-24 pure-u-xl-1-4 sm-button-row">
            {% for letter, result in session['letter_result_map'].items() %}
                <span class="sm-button" data-state="{{result}}">{{letter}}</span>
            {% endfor %}
        </div>

  		{% include 'includes/help_modal.html' %}
       
    </div>

    </body>
</html>